
@media screen and (max-width:568px) {
    .row{background-color: #f2f2cd; 
        margin: 0;
        width: auto;
        display: block;
    }
    img {
        margin-top: 20px;
        height: 100px;
        
    }
    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
    }

}